html{
  scroll-behavior:smooth;
}
	body{
		margin:0;
		padding:0;
		
	}
	.programme h3{
		color:red;
	}
	.arrow{
	position: fixed;
	bottom: 15px;
	right: 25px;
	width: 45px;
	height: 45px;
	line-height: 36px;
	align-items: center;
	text-align: center;
	cursor: pointer;
	background: #fb2274;
	
}

.arrow img{
	width: 20px;
	height: 20px;
	z-index: 1;
}
	.footer {
		margin: 0px auto;
    	padding: 10px 0px;
    	position:page-bottom;
    	left: 0;
    	bottom: 0;
    	width: 100%;
    	background-color:#9adb16;
    	color: white;
    	text-align:center;
    }
   .myForm{
		padding:10px;
		border: 1px solid #eee;
		margin: 10px;
		background:#ccc;
		}
	.container h3{
		color:red;
		background-color: #cfc ;
 		padding: 10px ;
  		border: 1px solid green ;
  		text-align:center;
  		font-family:Gill Sans MT;
  		font-size:45px;
  		font-decoration:bold;
	}	
	.container p{
		font-size:20px;
	}
	.don{
		text-align:center;
		}
	.slide_img img{
		width:972.88px;
		height:auto;
	}
	.footer{
		background-color: #cfc;
		color:red;
	}
	.fa {
  		font-size: 20px;
  		width: 50px;
  		text-align: center;
  		text-decoration: none;
  		margin: 5px 2px;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
		}
	.fa-twitter {
		background: #55ACEE;
	    color: white;
	}
	.fa-google {
		background: #dd4b39;
		color: white;
	}

	.fa-linkedin {
		background: #007bb5;
  		color: white;
	}	

	.fa-youtube {
  		background: #bb0000;
  		color: white;
	}

	.fa-instagram {
	    background: #125688;
  		color: white;
	}